net addr<0> loc=pin2;
net addr<1> loc=pin3;
net addr<2> loc=pin5;
net addr<3> loc=pin6;
net addr<4> loc=pin7;
net addr<5> loc=pin8;
net addr<6> loc=pin12;
net addr<7> loc=pin13;
net addr<8> loc=pin14;
net addr<9> loc=pin16;
net addr<10> loc=pin18;
net addr<11> loc=pin19;

net x<0> loc=pin20;
net x<1> loc=pin21;
net x<2> loc=pin22;
net x<3> loc=pin23;
net x<4> loc=pin27;
net x<5> loc=pin28;
net x<6> loc=pin29;
net x<7> loc=pin30;

net output<0> loc=pin31;
net output<1> loc=pin32;
net output<2> loc=pin34;
net output<3> loc=pin36;
net output<4> loc=pin37;
net output<5> loc=pin38;
net output<6> loc=pin39;
net output<7> loc=pin40;
net output<8> loc=pin41;
net output<9> loc=pin42;
net output<10> loc=pin43;
net output<11> loc=pin44;

net en loc=pin1;
net nrst loc=pin33;
