net input<0> loc=pin2;
net input<1> loc=pin3;
net input<2> loc=pin5;
net input<3> loc=pin6;
net input<4> loc=pin7;

net output<0> loc=pin16;
net output<1> loc=pin18;
net output<2> loc=pin19;
net output<3> loc=pin20;
net output<4> loc=pin21;
net output<5> loc=pin22;
net output<6> loc=pin23;
net output<7> loc=pin27;

net state<0> loc=pin29;
net state<1> loc=pin30;
net state<2> loc=pin31;
net state<3> loc=pin32;
net state<4> loc=pin37;
net state<5> loc=pin38;
net state<6> loc=pin39;
net state<7> loc=pin40;

net nwe loc=pin43;
net noe loc=pin44;
net nrst loc=pin33;
net inc loc=pin1;
net carry loc=pin42;
